*{
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
}

html{
    height:100%;
}

body{
    display: flex;
    flex-direction: row;
    height: 100%;
}

/*Sidebar*/
#sidebar{
    display: flex;
    flex-direction: column;
    align-items:center;
    height:100%;
    width: 18%;
    background: #ded3eb;
    justify-content: space-around;
}

#menu{
    display: flex;
    flex-direction: column;
    align-items:center;
    height:40%;
    width: 100%;
    justify-content: space-between;
}

#logo{
    height: 88px;
    width: 72px;
}

#piu{
    background-color: #7831BE;
    height :38px;
    width: 160px;
    color:white;
    font-weight: 600;
    border-radius: 19px;
    border: none;
    font-size: 32px;
}

.sb_item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 100%;
    padding-left: 32px;
}

.sb_item h2{
    font-size: 26px;
    font-weight: 300;
    color: black;
    padding-left: 16px;
}
.active h2{
    font-weight: 500;
    color: #7831BE;
}

.sb_item img{
    width: 38px;
    height: 38px;
}



/*Feed*/
#feed{
    height:100%;
    width: 64%;
    background: white;
}

#newPiuSection{
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    border-bottom: solid #ded3eb 4px;
}

.piuBox{
    width:85%;
    background: #DED3EB;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 24px 0;
}

.piuBox .userCircle{
    height: 64px;
    width: 64px;
    border-radius: 32px;
    background-color: white;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photoAndPiu{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#newPiu{
    border: none;
    background: white;
    width: 83%;
    height: 70%;
    border-radius: 12px;
    margin: 12px 24px 0px 24px;
    font-size: 24px;
    padding-left: 16px;
    color: #787779;
    word-wrap: break-word;
}


#features{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 8px 64px;
}

#features img{
    height: 28px;
}

#submitPiu{
    background-color: #7831BE;
    height :32px;
    width: 120px;
    color:white;
    font-weight: 600;
    border-radius: 16px;
    border: none;
    font-size: 24px;
}
#submitPiu:hover{
    background-color: #322044;
    height :32px;
    width: 120px;
    color:white;
    font-weight: 600;
    border-radius: 16px;
    border: none;
    font-size: 24px;
}



/*Friends Bar*/
#friends{
    display: flex;
    flex-direction: column;
    align-items:center;
    height:100%;
    width: 20%;
    background: white;
    justify-content: start; 
    border-left: solid #ded3eb 4px;
}

#search{
    background-color: #EEE6F5;
    width: 240px;
    height: 48px;
    border-radius: 24px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 64px;
    margin-bottom: 64px;
}

#search img{
    height: 28px;
    width: 28px;
    margin-right: 8px;
    margin-left: 8px;

}

#searchbar{
    color: #787779;
    font-weight: 300;
    font-size: 20px;
    border: None;
    width: 160px;
    background-color: #EEE6F5;
}

#amigos{
    color: #322044;
    display: flex;
    flex-direction: column;
    overflow-y: scroll; 
}

#friends h2{
    color: #322044;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 8px;
    align-self: baseline;
    margin-left: 26px;
}

.friendCard{
    background: #EEE6F5;
    height: 56px;
    min-height: 56px;
    width: 216px;
    border-radius: 28px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 4px 8px;
}

.friendCard .userCircle{
    height: 48px;
    width: 48px;
    border-radius: 24px;
    background-color: white;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .friendCard p{
     font-size: 20px;
     font-weight: 400;
     margin-left: 4px;
 }

 .friendCard img{
     width: 40px;
     height: 40px;
 }
 
.friendCard .online{
     background: rgb(28, 223, 28);
     height: 10px;
     width: 10px;
     border-radius: 5px;
     position: relative;
     top: -16px;
     left: -10px;   
 }

#amigos::-webkit-scrollbar {
    width: 6px;
}
   
#amigos::-webkit-scrollbar-thumb {
    background: rgb(211, 209, 209);
    border-radius: 3px;
  }