*{
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
}

html{
    height:100%;
}

body{
    display: flex;
    flex-direction: row;
    height: 100%;
}

/*Sidebar*/
#sidebar{
    display: flex;
    flex-direction: column;
    align-items:center;
    height:100%;
    width: 18%;
    background: #ded3eb;
    justify-content: space-around;
}

#menu{
    display: flex;
    flex-direction: column;
    align-items:center;
    height:40%;
    width: 100%;
    justify-content: space-between;
}

#logo{
    height: 88px;
    width: 72px;
}

#piu{
    background-color: #7831BE;
    height :38px;
    width: 160px;
    color:white;
    font-weight: 600;
    border-radius: 19px;
    border: none;
    font-size: 32px;
}

.sb_item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 100%;
    padding-left: 32px;
}

.sb_item h2{
    font-size: 26px;
    font-weight: 300;
    color: black;
    padding-left: 16px;
}
.active h2{
    font-weight: 500;
    color: #7831BE;
}

.sb_item img{
    width: 38px;
    height: 38px;
}



/*Feed*/
#feed{
    height:100%;
    width: 64%;
    background: white;
    overflow-y: scroll;
    margin-right: 4px;
}

#newPiuSection{
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    border-bottom: solid #ded3eb 4px;
}

.piuBox{
    width:85%;
    background: #DED3EB;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 24px 0;
}

.piuBox .userCircle{
    height: 64px;
    width: 64px;
    border-radius: 32px;
    background-color: white;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photoAndPiu{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#newPiu{
    border: none;
    background: white;
    width: 83%;
    min-height: 70%;
    border-radius: 12px;
    margin: 12px 24px 8px 24px;
    font-size: 24px;
    padding-left: 16px;
    padding-top: 4px;
    color: #787779;
    word-wrap: break-word;
    overflow: visible;
}
 #newPiu:focus{
     border: none !important;
     outline: 0;
 }

 #charcount{
     width: 10%;
 }


#features{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 8px 64px;
}

#features img{
    height: 28px;
}

#submitPiu{
    background-color: #7831BE;
    height :32px;
    width: 120px;
    color:white;
    font-weight: 600;
    border-radius: 16px;
    border: none;
    font-size: 24px;
}
#submitPiu:hover{
    background-color: #322044;
    height :32px;
    width: 120px;
    color:white;
    font-weight: 600;
    border-radius: 16px;
    border: none;
    font-size: 24px;
}


#campoPius{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 24px;
}

.piuCard{
    width:85%;
    background: #DED3EB;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 4px 0;
}
.piuCard .userCircle{
    height: 64px;
    width: 64px;
    border-radius: 32px;
    background-color: white;
    margin: 8px 8px 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.UserAndPiu{
    display: flex;
    flex-direction: column;
    width: 82%;
    margin-right: 24px;
}

.UserAndPiu h3{
    color: #322044;
    font-weight: 400;
    font-size: 20px;
    margin: 4px 0;
    display: flex;
    flex-direction: row;
}

.UserAndPiu .info{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.UserAndPiu div{
    background: white;
    width: 100%;
    border-radius: 12px;
}

.UserAndPiu p{
    color: #787779;
    padding: 8px 16px;
    font-size: 20px;
    word-wrap: normal;
}
.UserAndPiu section p{
    color: #787779;
    padding: 8px 16px;
    font-size: 14px;
}

.reactions{
    margin: 8px 0px 8px 108px;
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.reaction{
    height: 24px;
}

.likes{
    display: flex;
    align-items: center;
}

.likes p{
    color: #6A5085;
    margin-left: 4px;
    font-size: 16px;
}



/*Friends Bar*/
#friends{
    display: flex;
    flex-direction: column;
    align-items:center;
    height:100%;
    width: 20%;
    background: white;
    justify-content: start; 
    border-left: solid #ded3eb 4px;
}

#search{
    background-color: #EEE6F5;
    width: 240px;
    height: 48px;
    border-radius: 24px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 64px;
    margin-bottom: 64px;
}

#search img{
    height: 28px;
    width: 28px;
    margin-right: 8px;
    margin-left: 8px;

}

#searchbar{
    color: #787779;
    font-weight: 300;
    font-size: 20px;
    border: None;
    width: 160px;
    background-color: #EEE6F5;
}

#amigos{
    color: #322044;
    display: flex;
    flex-direction: column;
    overflow-y: scroll; 
}

#friends h2{
    color: #322044;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 8px;
    align-self: baseline;
    margin-left: 26px;
}

.friendCard{
    background: #EEE6F5;
    height: 56px;
    min-height: 56px;
    width: 240px;
    border-radius: 28px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 4px 8px;
}

.friendCard .userCircle{
    height: 48px;
    width: 48px;
    border-radius: 24px;
    background-color: white;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .friendCard p{
     font-size: 20px;
     font-weight: 400;
     margin-left: 4px;
 }

 .friendCard img{
     width: 40px;
     height: 40px;
 }
 
.friendCard .online{
     background: rgb(28, 223, 28);
     height: 10px;
     width: 10px;
     border-radius: 5px;
     position: relative;
     top: -16px;
     left: -10px;   
 }

#amigos::-webkit-scrollbar {
    width: 6px;
}
   
#amigos::-webkit-scrollbar-thumb {
    background: rgb(211, 209, 209);
    border-radius: 3px;
  }

#feed::-webkit-scrollbar {
    width: 6px;
}
   
#feed::-webkit-scrollbar-thumb {
    background: rgb(211, 209, 209);
    border-radius: 3px;
}


#modal_nulo{
display: none; /* Hidden by default */
justify-content: center;
align-items: center;
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}
#modal140{
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}
#modalDelete{
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

#modalDelte #opt{
    display: flex;
    width: 100%;
}

.modal_box{
    width: 40%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    color: #322044;
    border-radius: 24px;
    font-size: 24px;
}

.modal_box button{
    background-color: #7831BE;
    height :32px;
    width: 120px;
    color:white;
    font-weight: 600;
    border-radius: 16px;
    border: none;
    font-size: 24px;
    margin-top: 32px;
    margin-left: 24px;
    margin-right: 24px;
}

.modal_box button:hover{
    background-color: #322044;
}